
<div class="content" id="content_profil_new" ng-controller="inscriptionCTRL">

    <h1 class="page-title">Compléter mon inscription</h1>
    <section class="section">
        <form name="signUpForm" action="">
            <div class="row">
                <div class="col-xs-6">
                    <p>
                        <label for="co_user" class="fwb">Identifiant (email)</label>
                        <input id="co_user" class="mb0 wide" type="email" required ng-model="newUsername" placeholder="username@example.com"  />
                    </p>
                    <p>
                        <label for="co_pwd" class="fwb">Mot de passe</label>
                        <input id="co_pwd" class="mb0 wide" type="password" required ng-model="newPassword" placeholder="tape your password here"  />
                   
                    </p>
                    <p class="line">
                        <label for="">Prénom</label>
                        <input type="text" class="mb0 wide" ng-model="firstname" placeholder="firstname" required>
                    </p>
                    <p class="line">
                        <label for="">Nom</label>
                        <input type="text" class="mb0 wide" ng-model="surname" placeholder="surname" required>
                    </p>
                    <p class="line">
                        <label for="">Ville</label>
                        <input type="text" class="mb0 wide" ng-model="city" placeholder="city" required>
                    </p>
                    <p class="line">
                        <label for="">Année de naissance</label>
                        <input type="text" class="mb0 wide" ng-model="birth" placeholder="birth" required>
                    </p>
                    <p class="line">
                        <label for="">Level</label>
                        <select name="" id="" ng-model="selectLevel" required>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </p>
                    <p class="line">
                        <label for="">bio</label>
                        <textarea id="profil_desc" class="resizable mb0 wide" ng-model="bio" required></textarea>
                    </p>
                </div>
                <div class="col-xs-6">
                    <p class="line">
                        <label for="">Photo du profil</label>
                        <input type="file" class="mb0" file-model="myFile">
                        <button ng-click="uploadFile()">upload</button>
                    </p>
                    <p class="line ac">
                        <img class="current_img" ng-src="img/recette_placeholder.jpg" alt="Visuel profil">
                    </p>
                </div>
                

                
                <div class="col-xs-12 ac">
                    <button type="submit" class="btn btn_color3 recette_save" ng-disabled="signUpForm.$invalid||disableSubmit" ng-click="submit()"><span class="glyphicon glyphicon-ok mr0"></span><span>Valider mon profil</span></button>
                </div>
                <!-- Afficher au clic sur "valider ma recette" lorsque tout s'est bien déroulé -->
                <div class="col-xs-12" ng-show="validationStatus === 'validated'">
                    <p class="ac mt2 tb">
                        <span class="glyphicon glyphicon-thumbs-up color3"></span>
                        <span>Votre inscription est pris en compte: Bienvenu chez NgCooking !</span>
                    </p>
                    <p class="ac">
                        <a class="btn btn_color1 btn_continuer" href="#/"><span class="glyphicon glyphicon-cutlery"></span><span>Connecter-moi</span></a>
                    </p>
                </div>
                <!-- Afficher au clic sur "valider ma recette" si certains éléments sont manquants -->
                <div class="col-xs-12" ng-show="validationStatus === 'notvalidated'">
                    <p class="ac mt2 tb">
                        <span class="glyphicon glyphicon-exclamation-sign color2"></span>
                        <span>Woops ! erreur inscription</span>
                    </p>
                    <p class="ac">{{errorInscriptionMessage}}</p>
                </div>

            </div>
        </form>
        
    </section>
</div>

